body{
    display: flexbox;
    position:relative;
}
.navbar{
    background: white;
}
.barra_navegacion{
  justify-content: flex-end;
}
.barra_navegacion li{
    margin-right: 30px;
}
.nav-link{
    background: white;
    transition: all;
}
.nav-link:hover{
    color:white;
    background: orange;
    border-radius: 10px;
    transition: 1s;
}
.active{
    color:orange;   
}
.dropdown-menu{
    background: orange;
    border:none;
    position:absolute;
    left:-20px;
    text-align: center;
}
.dropdown-menu a{
    color:blue;
}
.dropdown-menu a:hover{
    color:orange;
}

/****CUERPO PRINCIPAL ****/
.fondo_principal{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(231, 165, 78, 0.3)), url(../imagenes/fondo3.jpg);
    background-position-y: -50px;
    opacity: 2.5;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    margin-right: 0px;
    padding: 200px 0px;  
}
.row{
    margin-right: 0px;
    justify-content: center;
}
.cuerpo_principal{
    margin-left: 200px;
    padding:20px 0px;
    text-align: center;
}
.cuerpo_principal h3{
    color:white;
    font-size: 40px;
}
.cuerpo_principal p{
    width: 100%;
    margin:20px auto;
    color:white;
    font-size: 20px;
}
#resaltador{
    background: rgba(248, 166, 13, 0.842);
    color:white;
    font-style: italic;
    font-weight: 500;
}

/***** CALENDARIO ACTIVIDADES *****/
.calendario{
    position: relative;
    width: max-content;
    text-align: CENTER;
    margin-top: auto;
    margin-bottom: auto;
}
.boton_calendario{
    padding: 10px;
    margin-left: 100px;
    font-size: 20PX;
    background: grey;
    border:none;
    border-radius: 20px;
}
.boton_calendario:hover{
    background:orange;
    transition:2s;
}
.modal-title{
    margin-left: 150px;
}
.modal-body{
    background: grey;
}
.modal-body h4{
    width: 50%;
    color: orange;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin: 0 auto 5px auto;
}
.modal-body p{
    color:white;
}
.modal-footer{
    justify-content: space-between;
}
.boton_modal{
    background: orange;
    padding:5px;
    border-radius: 20px;
    color: white;
}

/***** FOOTER ******/
footer{
    width: 100%;
    background: grey;
    justify-content: center;
    margin-top: 0px;
}
footer p{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.logos_redes{
    margin: 0px auto 5px auto;
    font-size: 25px;
    width: 15%;
    justify-content: space-between;
    color: white;
}

#redes_sociales{
    color: orange;
    font-style: italic;
    font-weight: 600;
}


/*******QUIENES SOMOS ******/
.bloques{
    text-align: center;
    margin-bottom: 10px solid orange;
    
}
.bloque_why{
    margin-top: -90px;
    
    margin-bottom: 0px;
    padding-bottom: -200px;
}
.bloques p{
    color:white;
}
#titulo_bloque{
    width: 50%;
    margin: 10px auto;
    color: white;
    background: rgba(255, 166, 0, 0.733);
    padding: 30px 10px;
    border-radius: 50%;
}
.bloque_staff{
    width: 100%;
    text-align: center;
    background: white;
    padding: 0px 0px 100px 0px;
    margin-top:20px;
    margin-bottom: 20px;
}
.bloque_staff h3{
    background:white;
    width: 20%;
    margin:0px auto 20px auto;
    background-color: orange;

}
.cards_staff{
    width: 100%;
    margin-left: 0px;
    padding:0px;
    justify-content: space-between;
   
}
.cards{
    width:200px;
    height: max-content;
    margin:5px;
    
}
.card-body h4{
    font-size: 18px;
    color: orange;
    font-weight: 600;
}
.card-body p{
    font-size: 12px;
}
.cards img{
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.card-body i{
  font-size: 20px;
}
.card{
  border-radius: 30px;
  background:#3e3e3e0e;
  border: 1px solid white;
}

/*****COMUNIDAD *****/
.fondo_blanco{
    background: linear-gradient(to right,rgba(248, 174, 15, 0.8), rgb(241, 231, 132, 0.5),rgb(241, 231, 132, 0.5),rgb(248, 174, 15, 0.8));
    width: 100%;
    height:max-content;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fondo_blanco h3{
    width: max-content;
    margin: 0px auto 30px auto;
    background: rgba(255, 166, 0, 0.74);
    color: white;
}
.fondo_blanco img{
    width: 150px;
}

.empresas{
    width: 50%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.puentes_numeros{
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.puentes_numeros div{
    text-align: center;
    font-size: 30px;

}
.puentes_numeros h4{
    color:orange;
    font-size: 40px;
}
.puentes_numeros p{
    font-size: 20px;
}
.bloque_numeros{
    margin-top: 50px;
}
/****** CONTACTO *******/

.cuerpo_contacto{
    margin:0px;
}
.fondo_principal_contacto{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(231, 165, 78, 0.3)), url(../imagenes/fondo3.jpg);
  background-position-y: -50px;
  opacity: 2.5;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  margin-right: 0px;
  padding: 0px 0px;  
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3ead;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4fb4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: orange;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: rgba(248, 246, 246, 0.836);
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: orange;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: rgba(248, 246, 246, 0.836);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: orange;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  .app-form-button:hover{
    color: rgba(248, 246, 246, 0.836);
    transition:1s;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
  /****** CURSOS ******/
  .fondo_cursos{
    background:white;
    padding: 60px 0px 60px 0px;
    margin: 0px;
    width: 100%;
  }
  .cabecera_cursos{
    width: 100%;
    background:rgba(255, 166, 0, 0.74);
    padding: 20px 0px 10px 0px;
    margin: 0px;
    text-align: center;
  }
  .cabecera_cursos h3{
    color: white;
  }
  .cabecera_cursos p{
    font-weight: 400;
    font-size: 16px;
  }
  .cuerpo_cursos{
    margin:20px auto 20px auto;
    width: 80%;
    text-align: center;
    justify-content: space-between;
  }
  .card_cursos{
    width: 300px;
    height: max-content;
    padding: 20px;
    background:rgba(255, 166, 0, 0.74);
  }
  .card_cursos h3{
    margin-top:20px;
    font-size:20px;
    font-weight: 600;
    letter-spacing: 2px;
    
  }
  .card_cursos p{
    font-size:13px;
    font-weight: 400;
  }
  .card_cursos img{
    width: 100%;
    height: 50%;
  }
  .card_cursos div i{
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-weight: 400;
  }
  .card_cursos div p{
    font-weight: 600;
  }
  .subrayado:after {
    content: '';
    display: block;
    margin:10px auto 10px auto;
    width: 30%;
    height: 3px;
    background: rgba(248, 246, 246, 0.836);
  }